* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: #D56560;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #F4F9F3;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #F4F9F3;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.hero div {

}

.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    color: #F4F9F3;
    
}

img {
    height: 200px;
    width: 200px;
}

.section-title {
    display: flex;

}

.section-content {
    display: flex;
    justify-content: center;
}

.featured-project {
    display: flex;
    flex-direction: column;

}

.columns {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}